@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,400;1,300&family=Chakra+Petch&family=Radio+Canada&display=swap');
body {
	background: #e8cfac;
}

h1{
font-family: 'Anybody', cursive;
font-family: 'Chakra Petch', sans-serif;
font-family: 'Radio Canada', sans-serif;
color: #a8917a;
}

h3{
	font-family: 'Anybody', cursive;
font-family: 'Chakra Petch', sans-serif;
font-family: 'Radio Canada', sans-serif;
}
p {
	font-family: 'Anybody', cursive;
font-family: 'Chakra Petch', sans-serif;
font-family: 'Radio Canada', sans-serif;
}
.menu li {
	display: inline-block;
	margin: 10px;
	background: #a8917a;
}
.container {
	background:#e2e2e2;
}
.caja {
	border: 1px solid black;
	margin-bottom: 20px;
}